<div class="container-fluid">
	<h1 class="text-center">Your Cart</h1>
	<br><br><br>
	<div class="table-responsive">
		<% total = 0 %>
		<table class="table">
			<% @cart.each do | id, quantity | %>
			<tr>
				<% product = Product.find_by_id(id) %>
					<td><%= link_to product.name, product %></td>
					<td><%= number_to_currency(product.price, :unit => '$') %></td>
					<td>Quantity: <%= quantity %></td>
			</tr>
				<% total += quantity * product.price %>
			<% end %>
		</table>
	</div>
	<div class="text-right">
	<p><strong>Total: <%= number_to_currency(total, :unit => '$') %></strong></p>
	<% if @cart.empty? %>
		<p>Your Cart is currently empty.</p>
	<% else %>
		<%= link_to 'Empty Cart', cart_clear_path, :class => "btn btn-primary" %>
	<% end %>
	</div>
</div>