<div class="container">
	<h1 align="center"><%= image_tag("logo.png") %></h1>
	<% @products.each_slice(3) do |products| %>
		<div class="row">
			<% products.each do |product| %>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<%= image_tag product.image.url(:med) %>
						<div class="caption">
          		<h3><%= product.name %></h3>
          		 <p>$<%= product.price %></p>
	          		<div class="btn btn-default"><%= link_to 'Show', product_path(product) %>
	          		</div>
	          		<div class="btn btn-primary"><a class="cart" href="/cart/<%= product.id %>">Add to Cart</a>
	          		</div>
          	</div>
          </div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>

